.scroll-spy-container{
    max-width: 75%;
    min-width: 798px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 60px;
    z-index: 9;
    background-color: white;

    &.scrolled{
        min-width: 100%;
        left: 0;
        right: 0;
    }

    & .scroll-spy-item{
        background: transparent;
        color: var(--ct-main);
        border: none;
        outline: none;
        text-decoration: none;
        padding: 18px 22px;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;

        &.active{
            color: var(--active);
        }
    }
}
@media (max-width:798px){
    .scroll-spy-container{
        display: none;
    }
}