.scroll-spy-container {
    width: 100%;
    min-width: 798px;
    max-width: 1026px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--border);
    position: sticky;
    position: -webkit-sticky;
    top: 60px;
    z-index: 9;
    background-color: white;

    &.scrolled {
        margin-left: -16px;
        min-width: calc(100% + 32px);
        left: 0;
        right: 0;
    }

    & .scroll-spy-item {
        background: transparent;
        height: 3.5rem;
        color: var(--ct-main);
        border: none;
        outline: none;
        text-decoration: none;
        padding: 0 1.5rem;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;

        &.active {
            color: var(--active);
        }
    }
}
@media (max-width: 798px) {
    .scroll-spy-container {
        display: none;
    }
}
