<div class="project-screens">
    <ng-container *ngIf="data && !error">
        <ct-header id="header" [viewNav]="true">
            <div class="header-content" [style.background-image]="'url(../../../assets/' + url + '.jpg)'">
                <div class="avatar-content">
                    <div class="avatar-img">
                        <img [src]="data.Logo" [alt]="data.Abreviatura">
                    </div>
                    <div class="avatar-title">
                        <h1>
                            Invertí en {{data.Abreviatura}}
                        </h1>
                        <p>Desarrollo de Pozo en Núñez, CABA</p>
                    </div>
                    <div class="avatar-description">
                        <p>
                            Obtené una rentabilidad estimada del 25~35% en dólares en 30 Meses*
                        </p>
                        <cp-button [size]="'lg'" [className]="'bg-white'">
                            Invertir Ahora
                        </cp-button>
                    </div>
                </div>
            </div>
        </ct-header>
        <div class="scroll-spy-view">
            <scroll-spy-menu [data]="scrollSpyMenu">
                <div class="content-panel">
                    <gallery-map [lat]="data.Geo.lat" [lng]="data.Geo.lng"></gallery-map>
                    <resume-investment id="resume" [data]="resumeList" [progress]="data.Completado"></resume-investment>
                    <div class="divider"></div>
                    <description-project id="description" [description]="getDescription()"></description-project>
                    <div class="divider"></div>
                    <timeline-project id="timeline" [data]="timelineProjectData"></timeline-project>
                    <div class="divider"></div>
                    <video-project id="video" [url]="videoProjectData"></video-project>
                    <div class="divider"></div>
                    <responsible-project id="responsible" [data]="responsibleData"></responsible-project>
                    <div class="divider"></div>
                    <faq-project id="faq"></faq-project>
                </div>
            </scroll-spy-menu>
        </div>
        <legal></legal>
        <from-your-mobile></from-your-mobile>
        <ct-footer></ct-footer>
        <partners></partners>
    </ng-container>
</div>