<div class="investment">
    <h1>Proyectos de Inversión</h1>
    <div class="investments-content">
        <div class="row justify-content-center">
            <ng-container *ngIf="data && !error">
                <ng-container *ngFor="let obj of data; let i = index">
                    <div class="col sm-12 md-6 lg-4">
                        <cp-card>
                            <card-head>
                                <div class="card-img">
                                    <img [src]="obj.Imagen" [alt]="obj.Abreviatura" [class]="obj.ImagenOrientacion">
                                </div>
                                <div class="card-label">
                                    {{obj.Tipo}}
                                </div>
                            </card-head>
                            <card-body>
                                <div #cardProfile class="card-profile" [class]="{'card-profile-column': isColumnProfile}">
                                    <div class="card-profile-avatar">
                                        <img [src]="obj.Logo" [alt]="obj.Abreviatura"/>
                                    </div>
                                    <div class="card-profile-content">
                                        <div class="card-profile-title">
                                            {{obj.Abreviatura}}
                                        </div>
                                        <div class="card-profile-description">
                                            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
                                            {{obj.Ubicacion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="card-item">
                                        <div class="card-item-title">MONEDA DEL FONDO</div>
                                        <div class="card-item-value">{{obj.Moneda}}</div>
                                    </div>
                                    <div class="card-item">
                                        <div class="card-item-title">RENTABILIDAD ESTIMADA TOTAL:</div>
                                        <div class="card-item-value">{{obj.RentabilidadEstimada}}%</div>
                                    </div>
                                    <div class="card-item">
                                        <div class="card-item-title">TIR ESTIMADA:</div>
                                        <div class="card-item-value">{{obj.TirEstimada}}%</div>
                                    </div>
                                    <div class="card-item">
                                        <div class="card-item-title">DURACIÓN ESTIMADA:</div>
                                        <div class="card-item-value">{{obj.Plazo}}</div>
                                    </div>
                                    <porcentage-bar [min]="0" [max]="100" [progress]="obj.Completado"></porcentage-bar>
                                    <cp-button [size]="'lg'" [fullWidth]="true" (click)="moreInfo(obj.Slug)">
                                        Más información
                                    </cp-button>
                                </div>
                            </card-body>
                        </cp-card>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>