<div class="collapse-menu">
    <ng-container *ngFor="let obj of data; let i of index;">
        <div class="collapse-item" [class]="{'active': i === index}">
            <div class="collapse-button" (click)="handleClick(i)">
                <span>
                    {{obj.title}}
                </span>
                <img src="{arrowDown}" alt="Flecha Dropdown"/>
            </div>
            <div class="collapse-container">
                <div class="collapse-content">
                    {{obj.content}}
                </div>
            </div>
        </div>
    </ng-container>
</div>