.faq {
    padding: 0 100px;

    & h1 {
        text-align: center;
        color: var(--title);
        margin-bottom: 60px;
    }

    & .legal {
        & p {
            font-size: 12px;
            line-height: 18px;
        }
        padding: 22px 0 0;
    }
}
@media (max-width: 768px) {
    .faq {
        padding: 0 10px;
    }
}
