.buyer {
    width: 100%;
    enable-background: new 0 0 149.5 116.1;

    & .buyer-0 {
        fill: #f8fafd;
    }

    & .buyer-1 {
        fill: #0096ff;
    }

    & .buyer-2 {
        fill: #ffffff;
    }

    & .buyer-3 {
        fill: none;
        stroke: #1959b9;
    }
}
