.buyer{
    width: 100%;
    enable-background:new 0 0 149.5 116.1;

    & .buyer-0{
        fill:#F8FAFD;
    }

    & .buyer-1{
        fill:#0096ff;
    }

    & .buyer-2{
        fill:#FFFFFF;
    }

    & .buyer-3{
        fill:none;
        stroke:#1959b9;
    }
}