<div class="faq-project">
    <div class="title">
        Preguntas Frecuentes
    </div>
    <collapse-menu [data]="data"></collapse-menu>
    <div class="legal">
        <p>
            (*) “Se hace saber al público inversor que, conforme lo dispone el artículo 1673 del Código Civil y Comercial de la Nación, el registro de Fiduciarios 
            Financieros no implica que los fideicomisos en los que estos actúen se encuentren sujetos al contralor de la COMISIÓN NACIONAL DE VALORES, cuya competencia 
            sólo alcanza a los fideicomisos financieros emitidos bajo el régimen bajo el régimen de la oferta pública", CNV.
        </p>
    </div>
</div>