<div class="footer">
    <div class="location">
        <icon-ubicacion></icon-ubicacion>
        <div class="location-text">
            <p>Av. Corrientes 316</p>
            <p>Piso 3 | CABA | Argentina</p>
        </div>
    </div>
    <div class="qrs">
        <div class="qr">
            <a href="http://qr.afip.gob.ar/?qr=zOSbvwOyojzkm_oT-GMaEQ,," target="_blank" rel="noreferrer">
                <img [src]="DataFiscal" alt="Data Fiscal Capital Valores S.A." class="qr-code"/>
            </a>
            <p>Balanz Capital Valores S.A.U</p>
        </div>
        <div class="qr">
            <a href="http://qr.afip.gob.ar/?qr=6_DeQBByAtxeshNNIB7tCw,," target="_blank" rel="noreferrer">
                <img [src]="DataFiscal" alt="Data Fiscal Balanz Sociedad Gerente de Fondos Comunes de Inversión S.A." class="qr-code"/>
            </a>
            <p>Balanz Sociedad Gerente de Fondos Comunes de Inversión S.A.U.</p>
        </div>
    </div>
    <div class="logo">
        <h1>BALANZ</h1>
        <p>Especialistas en Valor</p>
    </div>
    <div class="description">
        <p>
            BALANZ CAPITAL VALORES S.A.U. Agente de Liquidación y Compensación y Agente de Negociación Integral N°210 ante la CNV. Agente de Colocación y Distribución 
            Integral de Fondos Comunes de Inversión N° 62 ante la CNV. Agente miembro de BYMA, MAE, MAV y Rofex. INSCRIPTO ANTE INSPECCIÓN GENERAL DE JUSTICIA BAJO EL N° 
            13981 DEL LIBRO 40, TOMO – SOCIEDAD POR ACCIONES. CUIT: 30-71063067-0.
        </p>
        <p>
            BALANZ SOCIEDAD GERENTE DE FONDOS COMUNES DE INVERSION S.A.U. Agente de Administración de Productos de Inversión Colectiva de Fondos Comunes de Inversión N°32 
            ante la CNV.
        </p>
        <p>
            Av. Corrientes 330, piso 1. CABA, Argentina. INSCRIPTO ANTE IGJ BAJO EL N° 13981 DEL LIBRO 40, TOMO – SOCIEDAD POR ACCIONES CUIT: 33-70812346-9.
        </p>
    </div>
    <div class="social-media">
        <a href="https://www.facebook.com/balanzcapital/" target="_blank" rel="noreferrer">
            <fa-icon [icon]="faFacebookF" size="lg"></fa-icon>
        </a>
        <a href="https://twitter.com/BalanzCapital" target="_blank" rel="noreferrer">
            <fa-icon [icon]="faTwitter" size="lg"></fa-icon>
        </a>
        <a href="https://www.linkedin.com/company/balanz-capital/" target="_blank" rel="noreferrer">
            <fa-icon [icon]="faLinkedinIn" size="lg"></fa-icon>
        </a>
        <a href="https://www.instagram.com/balanzcapital/" target="_blank" rel="noreferrer">
            <fa-icon [icon]="faInstagram" size="lg"></fa-icon>
        </a>
    </div>
    <img [src]="Registro" alt="AAIP RNBD" class="register-img"/>
    <a href="https://balanz.com/legales-regulatorio.html" class="legal-terms">Legales y Regulatorio</a>
</div>