.header-content {
    background-image: url(../../../assets/hero-bg.jpg);
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 100px;

    & .header-content-left {
        & h1 {
            color: var(--bg-pr);
            font-size: 60px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            & span {
                font-family: var(--font-family-se);
                font-weight: 300;
                line-height: 1;
            }

            & strong {
                font-family: var(--font-family-se);
                font-weight: 600;
            }
        }

        & p {
            color: var(--ct-main);
            margin-bottom: 32px;
            font-size: 23px;
            line-height: 35px;
            font-weight: 300;
            padding-right: 55px;

            & strong {
                font-weight: 600;
                font-family: var(--font-family-se);
            }
        }
    }
}
@media (max-width: 1306px) {
    .header-content {
        background-position-x: 110%;
    }
}
@media (max-width: 1250px) {
    .header-content {
        background-position-x: 120%;
    }
}
@media (max-width: 1213px) {
    .header-content {
        background-position-x: 130%;
    }
}
@media (max-width: 1184px) {
    .header-content {
        background-position-x: 140%;
    }
}
@media (max-width: 1166px) {
    .header-content {
        background-position-x: 150%;
    }
}
@media (max-width: 1115px) {
    .header-content {
        background-position-x: 170%;
    }
}
@media (max-width: 1073px) {
    .header-content {
        background-position-x: 230%;
    }
}
@media (max-width: 1010px) {
    .header-content {
        background-position-x: 250%;

        & .header-content-left {
            text-align: center;
        }
    }
}
@media (max-width: 992px) {
    .header-content {
        background: #ffffff;
    }
}
@media (max-width: 768px) {
    .header-content {
        background: #ffffff;
        padding: 45px 16px;

        & .header-content-left {
            text-align: center;

            & h1 {
                display: block;
                font-size: 34px;

                & span {
                    display: inline;
                }
                & strong {
                    display: inline;
                }
            }

            & p {
                max-width: 350px;
                margin: auto;
                font-size: 16px;
                padding-right: 0;
                margin-bottom: 16px;
                line-height: 1.5;
            }
        }
    }
}
