<div class="landing-page">
    <ct-header [viewNav]="true">
        <div class="header-content">
            <div class="row">
                <div class="col md-12 lg-8 xl-6">
                    <div class="header-content-left">
                        <h1>
                            <span>Ahora podés invertir</span>
                            <strong>en Real Estate</strong>
                        </h1>
                        <p>
                            Invertí en las mejores propiedades y desarrollos a través del <strong>Crowdfunding Inmobiliario</strong> desde montos mínimos.
                        </p>
                        <cp-button size="lg" class="no-mg">
                            Abrir Cuenta
                        </cp-button>
                    </div>
                </div>
            </div>
        </div>
    </ct-header>
    <about-ci></about-ci>
    <why-real-estate></why-real-estate>
    <investments></investments>
    <invest-in-real-estate></invest-in-real-estate>
    <as-investment></as-investment>
    <faq></faq>
    <legal></legal>
    <from-your-mobile></from-your-mobile>
    <ct-footer></ct-footer>
    <partners></partners>
</div>