<div class="legal">
    <ng-content></ng-content>
    <p>
        Para mayor información, contáctese con nuestros asesores. En ningún caso podrá entenderse que Balanz Capital Valores S.A.U. brinda garantías o asegura la 
        rentabilidad o resultados que pudieran derivar de la operación de cambio inversión que el inversor efectuare. El destinatario de la información proporcionada 
        deberá evaluar por sí mismo la conveniencia de realizar operaciones de cambio o inversiones para ello deberá basarse en la investigación personal que considere 
        pertinente realizar.    
    </p>
    <p>
        BALANZ CAPITAL VALORES S.A.U. Operador de Cambio registrado ante el Banco Central de la República Argentina bajo el N° 20.026 y Agente de Liqudación y 
        Compensación Integral N° 210 ante la Comisión Nacional de Valores. Av. Corrientes 316 piso 3, C.A.B.A. INCRIPTO ANTE INSPECCION GENERAL DE JUSTICIA BAJO 
        EL N° 13981 DEL LIBRO 40, TOMO – SOCIEDAD POR ACCIONES CUIT: 30-71063067-0.
    </p>
</div>