.legal {
    padding: 55px 100px 0;

    & p {
        font-size: 13px;
        line-height: 1.3;
        text-align: justify;
    }
}
@media (max-width: 768px) {
    .legal {
        padding: 60px 10px 0;
    }
}
