.resume-investment {
    margin: 16px 0;

    & .progress {
        max-width: 500px;
        margin-bottom: 16px;
        margin: auto;
    }

    & .resume-container {
        margin: 32px 0;

        & .resume-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: nowrap;
            padding: 4px 0;
            position: relative;

            & .resume-title,
            & .resume-value {
                position: relative;
                font-size: 16px;
                z-index: 1;
                background-color: #ffffff;
                line-height: 1.5em;
                -webkit-font-smoothing: antialiased;
            }
            & .resume-value {
                float: right;
                text-align: right;
                padding-left: 0.5em;
                color: #002162;
                font-weight: 600;
                font-size: 18px;
            }
            & .resume-title {
                float: left;
                text-align: left;
                padding-right: 0.5em;
                color: #525252;
                font-weight: 400;

                & i {
                    font-size: 90%;
                    margin-right: 10px;
                }
            }
            & .resume-dotted {
                position: absolute;
                left: 0;
                right: 0;
                top: -1px;
                bottom: 0;
                margin: auto;
                height: 1px;
                width: 100%;
                border-bottom: 1px dotted var(--border);
            }
        }
    }
}
@media (max-width: 512px) {
    .resume-investment {
        & .resume-container {
            & .resume-item {
                & .resume-title {
                    font-size: 13px;

                    & i {
                        display: none;
                    }
                }
                & .resume-value {
                    font-size: 14px;
                }
            }
        }
    }
}
