.from-your-mobile{
    background-color: #01255c;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px;
    margin-top: 120px;

    &-apps{
        width: 40%;
        min-width: 290px;
        text-align: center;
        margin-right: 30px;


        & h1{
            font-size: 25px;
            margin-bottom: 20px;
        }

        & p{
            font-size: 14px;
            color: #ffffff;
        }
        & .btn.outline{
            color: #ffffff;
            border-color: #ffffff;
        }
    }

    &-img{
        width: 40%;

        & img{
            width: 100%;
            display: block;
        }
    }
}
@media (max-width: 912px){
    .from-your-mobile{
        margin-top: 60px;
        padding: 10px;
        flex-direction: column-reverse;
        
        &-img{
            width: 100%;
            padding: 10px;
        }

        &-apps{
            width: 100%;
            margin-right: 0;
            padding: 10px;
            & h1{
                margin-bottom: 15px;
            }
        }
    }
}