<div class="from-your-mobile">
    <div class="from-your-mobile-apps">
        <h1>Invertir ahora es más fácil con nuestras plataformas digitales</h1>
        <p>
            Balanz ofrece un amplio rango de productos de inversión e información oportuna para el manejo de sus activos financieros.
        </p>
        <cp-button [type]="'outline'" [size]="'lg'">
            Empezá a Invertir
        </cp-button>
    </div>
    <div class="from-your-mobile-img">
        <img [src]="CustomizedServicesPlatform" alt="Movil con la Aplicación de Balaze"/>
    </div>
</div>