.progress-circle{
    width: 100%;
    width: 100%;
    overflow: visible;
    & circle{
        fill:transparent;
        stroke-width: 6px;
        transform: rotate(-90deg) translate(-10px, -10px);
        transform-origin: center;
    }

    & circle:first-child{
        stroke: #ffffff;
    }
    & circle:last-child{
        stroke: #27bb01;
    }
}