$lineWidth: 5px;
$sizeStep: 70px;
.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .timeline-step {
        min-width: $sizeStep;
        min-height: $sizeStep;
        width: $sizeStep;
        height: $sizeStep;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-pr);
        color: var(--ct-pr);
        border-radius: $sizeStep;
        position: relative;
        padding: 12px;

        & svg {
            width: 100%;
        }
    }

    & .timeline-content {
        width: 50%;
        padding: 35px 25px;

        & h1 {
            font-size: 22px;
            line-height: 1.25;
            color: var(--title);
            font-weight: 500;
            margin: 0;
        }
        & h3 {
            text-transform: uppercase;
            font-size: 16px;
            color: var(--subtitle);
            font-weight: 400;
        }
        & p {
            font-size: 17px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 10px;
        }

        &.full-width {
            width: 100%;
        }
    }

    & .timeline-left {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;

        & .timeline-content {
            text-align: left;

            & h1,
            & h3 {
                text-align: left !important;
            }
        }

        &::before {
            content: "";
            position: absolute;
            left: calc(100px / 2);
            bottom: 0%;
            width: calc(100% - 100px);
            height: $lineWidth;
            background-color: var(--bg-pr);
        }

        &:first-child {
            &::after {
                content: "";
                position: absolute;
                left: calc(#{$sizeStep} / 2);
                bottom: 0%;
                margin: auto;
                width: 30px;
                height: 50%;
                border-left: $lineWidth solid var(--bg-pr);
                border-bottom: $lineWidth solid var(--bg-pr);
                border-bottom-left-radius: 15px;
                z-index: -1;
            }
        }
        &:last-child {
            &::after {
                content: "";
                position: absolute;
                left: calc(#{$sizeStep} / 2);
                top: -$lineWidth;
                margin: auto;
                width: 30px;
                height: 50%;
                border-left: $lineWidth solid var(--bg-pr);
                border-top: $lineWidth solid var(--bg-pr);
                border-top-left-radius: 15px;
                z-index: -1;
            }

            &::before {
                display: none;
            }

            & .timeline-content {
                padding-bottom: 0;
            }
        }

        &:not(:first-child):not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                left: calc(#{$sizeStep} / 2);
                top: -$lineWidth;
                margin: auto;
                width: 30px;
                height: calc(100% - #{$lineWidth});
                border-top: $lineWidth solid var(--bg-pr);
                border-left: $lineWidth solid var(--bg-pr);
                border-bottom: $lineWidth solid var(--bg-pr);
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
                z-index: -1;
            }
        }
    }

    & .timeline-right {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;

        & .timeline-content {
            text-align: right;

            & h1,
            & h3 {
                text-align: right !important;
            }
        }

        &::before {
            content: "";
            position: absolute;
            right: calc(100px / 2);
            bottom: 0%;
            width: calc(100% - 100px);
            height: $lineWidth;
            background-color: var(--bg-pr);
        }

        &:first-child {
            &::after {
                content: "";
                position: absolute;
                right: calc(#{$sizeStep} / 2);
                bottom: 0%;
                margin: auto;
                width: 30px;
                height: 50%;
                border-right: $lineWidth solid var(--bg-pr);
                border-bottom: $lineWidth solid var(--bg-pr);
                border-bottom-right-radius: 15px;
                z-index: -1;
            }
        }
        &:last-child {
            &::after {
                content: "";
                position: absolute;
                right: calc(#{$sizeStep} / 2);
                top: -#{$sizeStep};
                margin: auto;
                width: 30px;
                height: 50%;
                border-right: $lineWidth solid var(--bg-pr);
                border-top: $lineWidth solid var(--bg-pr);
                border-top-right-radius: 15px;
                z-index: -1;
            }

            &::before {
                display: none;
            }

            & .timeline-content {
                padding-bottom: 0;
            }
        }

        &:not(:first-child):not(:last-child) {
            &::after {
                content: "";
                position: absolute;
                right: calc(#{$sizeStep} / 2);
                top: -$lineWidth;
                margin: auto;
                width: 30px;
                height: calc(100% - #{$lineWidth});
                border-top: $lineWidth solid var(--bg-pr);
                border-right: $lineWidth solid var(--bg-pr);
                border-bottom: $lineWidth solid var(--bg-pr);
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                z-index: -1;
            }
        }
    }
}
$sizeStep: 50px;
@media (max-width: 768px) {
    .timeline {
        & .timeline-step {
            min-width: $sizeStep;
            min-height: $sizeStep;
            width: $sizeStep;
            height: $sizeStep;
            border-radius: $sizeStep;
            padding: 5px;
        }

        & .timeline-content {
            width: 100%;
            padding: 22px 10px;

            & h4 {
                font-size: 18px;
            }
        }

        & .timeline-left {
            &:first-child {
                &::after {
                    left: calc(#{$sizeStep} / 2);
                }
            }
            &:last-child {
                &::after {
                    left: calc(#{$sizeStep} / 2);
                }
            }
            &:not(:first-child):not(:last-child) {
                &::after {
                    left: calc(#{$sizeStep} / 2);
                }
            }
        }
        & .timeline-right {
            &:first-child {
                &::after {
                    right: calc(#{$sizeStep} / 2);
                }
            }
            &:last-child {
                &::after {
                    right: calc(#{$sizeStep} / 2);
                }
            }
            &:not(:first-child):not(:last-child) {
                &::after {
                    right: calc(#{$sizeStep} / 2);
                }
            }
        }
    }
}
